{%extends 'shop/basic.html'%}
{%block css%}
        div.a {
          text-align: center;
          background-color: red;
        }
        div.b{
        text-align: left;
        }
        div.c{
        text-align:right;
        }
        h1 {text-align: center;}
{% endblock %}
{% block body %}
<!--  <h1>  About Us</h1>-->
<!--  <body>-->
<!--    <div id="carouselExampleIndicators" class="carousel slide">-->
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--  </div>-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      {% load static %}-->
<!--      <img src="{%static 'shop/ecommerce.jpg'%}" class="d-block w-100" alt="p1">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      {% load static %}-->
<!--      <img src="{%static 'shop/image2.jpg'%}" class="d-block w-100" alt="p2">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      {% load static %}-->
<!--      <img src="{%static 'shop/image8941.jpg'%}" class="d-block w-100" alt="p3">-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->
<!--    <div class="a">-->
<!--    <h4 align="center">Our 10 Core Values are more than just words. They're a way of life.<br>-->
<!--In January 2005, Zappos polled employees on what they thought the company’s core values should be. <br>-->
<!--      Hundreds of ideals were submitted, which resulted in 37 foundational themes.<br>-->
<!--      This list was further narrowed down, and on February 14, 2006, the Core Values were introduced.<br>-->

<!--Besides being distinctive, these beliefs create a framework for Zappos’ actions.<br>-->
<!--      These values guide everything we do, including how we interact with our employees,<br>-->
<!--      how we interact with our customers and community, and how we interact with our vendors and business partners.<br>-->

<!--As we grow, our processes and strategies may change, but these 10 Core Values will remain the same</h4>-->
<!--    </div>-->
<!--    <div class="b">-->
<!--      <div class="alert alert-primary" role="alert">-->
<!--        <h1>How Etsy Works</h1>-->

<!--      <p>Our global marketplace is a vibrant community of real people connecting over special goods.<br>-->
<!--        The platform empowers sellers to do what they love and helps buyers find what they love</p>-->
<!--</span>-->
<!--    </div>-->
<!--      </div>-->
<!--    <div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      {% load static %}-->
<!--      <img src="{%static 'shop/comicsman.jpg'%}" alt="Image" class="img-fluid">-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="alert alert-info" role="alert">-->
<!--      <h2>Sell extraordinarily</h2>-->

<!-- ith low fees, powerful tools, and support and education,-->
<!--we help creative entrepreneurs start, manage, and scale their businesses.-->
<!--Want to become an Etsy seller? All it takes is $0.20 USD to get started-->
<!--</div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      {% load static %}-->
<!--      <img src="{%static 'shop/image45.jpg'%}" alt="Image" class="img-fluid">-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <div class="alert alert-info" role="alert">-->
<!--      <h2>Buy extraordinary</h2>-->
<!--      <p>-->
<!--From the specific to the unexpected (or custom-made),-->
<!--our search tools help buyers explore all the special one-of-a-kind items offered by Etsy sellers.-->
<!--Our Journal and Editors Picks curate exciting trends and ideas discovered in the marketplace by our own team. .</p>-->
<!--    </div>-->
<!--      </div>-->
<!--    <div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      {% load static %}-->
<!--      <img src="{%static 'shop/image74.png'%}" alt="Image" class="img-fluid">-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <div class="alert alert-info" role="alert">-->
<!--      <h2>Shop securely</h2>-->
<!--      <p>-->
<!--We provide the technology behind the Etsy marketplace,-->
<!--helping buyers and sellers connect and exchange on Etsy. Keeping those connections safe,-->
<!--fun and secure is our priority, and we’re always here to help.</p>-->
<!--    </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->

<!--    </div>-->
{% endblock %}
<!--{%block body %} This is a body {% endblock %}-->
