{%extends 'blog2/basic.html'%}
{%block title%} Hello this is my blog {%endblock%}
{%block css%}
{%endblock%}
{%block body%}
<h1>hello </h1>

<div class="container mt-5">

    <div class="row my-10 mx-5">
        {%for k in blog_posting%}
        <div class="col-md-5 mx-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{k.title}}</strong>
                    <h3 class="mb-0">{{k.heading0}}</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">{{k.cheading0|slice:"0:70"}}.</p>
                    <a href="/blog2/showingblog/{{k.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="media/{{k.image}}" class="bd-placeholder-img" width="200" height="200" aria-label="Placeholder:Thumbnail">
                </div>
            </div>
            </div>
            {%if forloop.counter|divisibleby:2%}
        </div><div class="row my-10 mx-5">
        {%endif%}
    {%endfor%}
    </div>

</div>
{%endblock%}
{%block js%}

<script>
</script>
{%endblock%}
